In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Fifa 23 Players Data.csv')

data.shape

(18539, 89)

In [30]:
FIFA = data[['Known As', 'Overall', 'Potential', 'Value(in Euro)',
       'Positions Played', 'Best Position', 'Age',
       'Height(in cm)', 'Weight(in kg)',
       'Club Name', 'Wage(in Euro)', 'Release Clause', 'Club Position',
       'Contract Until', 'Joined On', 'On Loan', 'National Team Name', 'ST Rating',
       'LW Rating', 'LF Rating', 'CF Rating', 'RF Rating', 'RW Rating',
       'CAM Rating', 'LM Rating', 'CM Rating', 'RM Rating', 'LWB Rating',
       'CDM Rating', 'RWB Rating', 'LB Rating', 'CB Rating', 'RB Rating',
       'GK Rating']]

In [37]:
FIFA['Gap_Potential'] = FIFA['Potential'] - FIFA['Overall']

FIFA

/var/folders/yw/z8mgp51d7pd0ns86g4ncx0jm0000gn/T/ipykernel_40657/1732002875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FIFA['Gap_Potential'] = FIFA['Potential'] - FIFA['Overall']

,Known As,Overall,Potential,Value(in Euro),Positions Played,Best Position,Age,Height(in cm),Weight(in kg),Club Name,...,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,Gap_Potential
0,L. Messi,91,91,54000000,RW,CAM,35,169,67,Paris Saint-Germain,...,88,91,67,66,67,62,53,62,22,0
1,K. Benzema,91,91,64000000,"CF,ST",CF,34,185,81,Real Madrid CF,...,84,89,67,67,67,63,58,63,21,0
2,R. Lewandowski,91,91,84000000,ST,ST,33,185,81,FC Barcelona,...,83,86,67,69,67,64,63,64,22,0
3,K. De Bruyne,91,91,107500000,"CM,CAM",CM,31,181,70,Manchester City,...,91,91,82,82,82,78,72,78,24,0
4,K. Mbapp√©,91,95,190500000,"ST,LW",ST,23,182,73,Paris Saint-Germain,...,84,92,70,66,70,66,57,66,21,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,D. Collins,47,56,110000,"ST,RM",CAM,21,174,68,Sligo Rovers,...,44,50,41,38,41,40,36,40,15,9
18535,Yang Dejiang,47,57,90000,CDM,CDM,17,175,60,Guangzhou FC,...,45,45,47,48,47,49,49,49,15,10
18536,L. Mullan,47,67,130000,CM,RM,18,170,65,Derry City,...,49,52,46,44,46,46,42,46,17,20
18537,D. McCallion,47,61,100000,CB,CB,17,178,65,Derry City,...,33,33,44,42,44,47,49,47,15,14
18538,N. Rabha,47,50,60000,LB,LB,25,176,66,NorthEast United FC,...,40,44,46,43,46,47,47,47,19,3

In [38]:
FIFA

,Known As,Overall,Potential,Value(in Euro),Positions Played,Best Position,Age,Height(in cm),Weight(in kg),Club Name,...,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,Gap_Potential
0,L. Messi,91,91,54000000,RW,CAM,35,169,67,Paris Saint-Germain,...,88,91,67,66,67,62,53,62,22,0
1,K. Benzema,91,91,64000000,"CF,ST",CF,34,185,81,Real Madrid CF,...,84,89,67,67,67,63,58,63,21,0
2,R. Lewandowski,91,91,84000000,ST,ST,33,185,81,FC Barcelona,...,83,86,67,69,67,64,63,64,22,0
3,K. De Bruyne,91,91,107500000,"CM,CAM",CM,31,181,70,Manchester City,...,91,91,82,82,82,78,72,78,24,0
4,K. Mbapp√©,91,95,190500000,"ST,LW",ST,23,182,73,Paris Saint-Germain,...,84,92,70,66,70,66,57,66,21,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,D. Collins,47,56,110000,"ST,RM",CAM,21,174,68,Sligo Rovers,...,44,50,41,38,41,40,36,40,15,9
18535,Yang Dejiang,47,57,90000,CDM,CDM,17,175,60,Guangzhou FC,...,45,45,47,48,47,49,49,49,15,10
18536,L. Mullan,47,67,130000,CM,RM,18,170,65,Derry City,...,49,52,46,44,46,46,42,46,17,20
18537,D. McCallion,47,61,100000,CB,CB,17,178,65,Derry City,...,33,33,44,42,44,47,49,47,15,14
18538,N. Rabha,47,50,60000,LB,LB,25,176,66,NorthEast United FC,...,40,44,46,43,46,47,47,47,19,3

In [ ]:
data.columns

In [ ]:
data.head(10)

In [ ]:
data[0]['Club Name']